body {
    font: arial
}

.centered {
    text-align: center;
}

.row {
    display: flex;
}

.col {
    flex: 33%;
}

.point {
    fill-opacity: 0.5;
}

.setosa {
    fill: blue;
}

.versicolor {
    fill: red;
}

.virginica {
    fill: green;
}