body {
    font: arial
}

.centered {
    text-align: center;
}

.row {
    display: flex;
}

.col {
    flex: 33%;
}

.point {
    fill-opacity: 0.5;
}

.bar {
    fill-opacity: 0.5;
}

.selected {
    fill-opacity: 1 !important;
    stroke: orange;
    stroke-width: 1px;
}

.setosa {
    fill: blue;
}

.versicolor {
    fill: red;
}

.virginica {
    fill: green;
}

.title {
    font-size: 20px;
    text-anchor: middle;
    font-weight: bold;
}